<footer class="site-footer">
  <div class="footer-column">
    <h2>Lorelien Michiels</h2>

    <p>UX/UI &amp; User-Centered Designer</p>

    <a href="mailto:lorelien10@gmail.com">
      lorelien10@gmail.com
    </a>

    <a
      href="https://www.linkedin.com/in/lorelien-michiels-3824b6394"
      target="_blank"
      rel="noopener noreferrer"
    >
      Mijn LinkedIn
    </a>

    <button class="cookie-settings-link" id="cookieSettings" type="button">
  Cookievoorkeuren wijzigen
</button>
  </div>

  <div class="footer-column">
    <h2>Navigatie</h2>

    <a href="index.html">Home</a>
    <a href="projecten.html">Projecten</a>
    <a href="over-mij.html">Over mij</a>
    <a href="cookiebeleid.html">Cookiebeleid</a>
  </div>

  <div class="footer-column">
    <h2>Stage</h2>

    <p>Feb - mei 2027</p>
    <p>Mechelen - Leuven</p>
    <p>Bereikbaar met openbaar vervoer</p>
  </div>
</footer>